.button {
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  transition: 0.2s;
  outline: none;
  background: #fb1;
  color: #764701;
  border: none;
  box-sizing: border-box;
  display: block;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0 0 3px #fea, 0 0 4px #fb1;
  }
}
