.titulo {
  font-family: var(--second-font);
  font-weight: bold;
  margin: 2rem 0;
  font-size: 3rem;
  line-height: 1rem;
  color: #333333;
  font-size: 3rem;

  position: relative;
  z-index: 1;

  &::after {
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fb1;
    position: absolute;
    z-index: -4;
    top: 0.3rem;
    left: -0.3rem;
    border-radius: 0.2rem;
  }
}
