.wrapper {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;

  z-index: 11000;
}

.circle {
  margin: auto;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  padding-left: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}
