

.loginSection {
  width: 100%;

  margin-top: 6rem;
}

.recover {
  margin: 4rem 0;
}
.reset {
  color: #666;
  padding: 0.5rem 0;
  display: inline-block;

  &::after {
    display: block;
    content: "";
    height: 2px;
    background-color: currentColor;
    width: auto;
  }
}

.cadastro h2 {
  font-family: var(--second-font);
  color: #333333;
  line-height: 1;

  &::after {
    content: "";
    display: block;
    height: 0.5rem;
    width: 3rem;
    background-color: lightgray;
    margin-bottom: 3rem;
    border-radius: 5px;
  }
}
