.logincontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
}

.logincontent {
  padding: 4rem 0;
  max-width: 70%;
}
.logincontainer::before {
  content: "";
  display: block;
  background: url("../../Assets/login.jpg") no-repeat center center;
  background-size: cover;
}

@media (max-width: 40rem) {
  .logincontainer::before {
    display: none;
  }
  .logincontainer {
    grid-template-columns: 1fr;
    
  }

  .logincontent {
    max-width: 100%;
    padding:  0 2rem
    
    ;
  }
}
